body {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}

header {
  background-color: #73c1ee;
  color: white;
  padding: 1rem;
  margin-top: -1rem;
}

#header-buttons button{
    background-color: #e25ce0;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    margin-top: -1rem;
}

#header-buttons button:hover {
    background-color: #e25ce08d;
}

#main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 1rem;
    gap: 1.5rem;
    padding: 0 2rem;
  }
  
  #left-section {
    flex: 1.2;
  }
  
  #left-section h2 {
    margin-top: 0;
  }
  
  #center-section {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  #right-section {
    flex: 1.2;
  }
  
  #right-section h2 {
    margin-top: 0;
  }
  
  #link-buttons button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #e25ce0;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
  }
  
  #link-buttons button:hover {
    background-color: #e25ce08d;
  }

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#beyonce-image {
  border: 5px solid;
}

#retina-image {
  max-width: 47%;
}

.caption {
  display: block;
}

.caption p {
  text-align: center;
}

#color-image {
  max-width: 30%;
}

#ncs-container {
  max-width: 30%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

button {
  margin: 0.5rem;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#show-button {
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
}

#show-button:hover {
    background-color: #4caf4f88;
}

#reset-button {
  background-color: #f44336;
  color: white;
}

#reset-button:hover {
    background-color: #f443368c;
}

p {
  text-align: left;
}

#physiology-main, #ncs-main {
  margin: 4rem 16rem;
}

#attention-main, #ase-main, #references-main, #reflection-main {
  margin: 3rem 22rem;
  font-size: 19px;
}

main {
  margin: 3rem;
}

.white-block {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.physiology-images {
  display: flex;
  align-items: row;
  justify-content: center;
  gap: 6rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

.references {
  text-align: left;
}

.image-credit {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}