body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #6AA3F0;
    color: white;
    padding: 1rem;
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
